{% load static i18n %}
<div class="card">
  <div class="card-body">
    <div class="dropdown float-end">
      <a
        href="#"
        class="dropdown-toggle arrow-none card-drop"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <i class="mdi mdi-dots-horizontal"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-end">
        <a href="javascript:void(0);" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#editProfileModal">
          <i class="mdi mdi-account-edit me-2"></i> Editar Perfil
        </a>
        <a href="{% url 'account_logout' %}"" class="dropdown-item">
          <i class="mdi mdi-logout me-2"></i> Sair
        </a>
      </div>
    </div>

    <div class="d-flex align-items-start">
      <img
        class="d-flex align-items-start rounded me-2"
        src="{{ user.profile_image.url|default:'images/users/user-1.png' }}"
        alt="{{ user.username }}"
        height="48"
      />
      <div class="w-100 ps-1">
        <h5 class="mt-1 mb-0">{{ user.username }}</h5>
        <p class="mb-1 mt-1 text-muted">
          {{ user.address.city }}, {{ user.address.state }}
        </p>
      </div>
    </div>

    <div class="list-group list-group-flush mt-2 font-15">
      <a
        href="javascript:void(0);"
        class="list-group-item list-group-item-action text-primary fw-semibold border-0 font-18 d-flex align-items-center"
      >
        <i class="mdi mdi-image-filter-black-white font-24 me-1"></i>
        Feed de Notícias
      </a>
      <a
        href="javascript:void(0);"
        class="list-group-item list-group-item-action border-0 font-18 d-flex align-items-center"
      >
        <i class="mdi mdi-forum font-24 me-1"></i> Mensagens
      </a>
      <a
        href="javascript:void(0);"
        class="list-group-item list-group-item-action border-0 font-18 d-flex align-items-center"
      >
        <i class="mdi mdi-calendar-month-outline font-24 me-1"></i>
        Eventos
      </a>
      <a
        href="javascript:void(0);"
        class="list-group-item list-group-item-action border-0 font-18 d-flex align-items-center"
      >
        <i class="mdi mdi-account-multiple-outline font-24 me-1"></i>
        Seguidores
      </a>
      <a
        href="javascript:void(0);"
        class="list-group-item list-group-item-action border-0 font-18 d-flex align-items-center"
      >
        <i class="mdi mdi-domain font-24 me-1"></i> Organização
      </a>
    </div>

    <h6 class="font-13 text-muted ps-3 my-3 text-uppercase">
      Organização que você segue
    </h6>

    <div class="px-2">
      <!-- Exemplo de páginas -->
      <div class="d-flex align-items-center mb-2">
        <div class="rounded-circle vw-10">
          <div class="inbox-item-img">
            <img src="{% static 'images/users/user-2.png' %}"
            class="rounded-circle vw-10" style=" width: 25px !important; "/>
          </div>
        </div>
        <div class="w-100 ps-2">
          <h5 class="mt-1 mb-0 font-family-primary fw-semibold">
            <a href="javascript: void(0);" class="text-reset"
              >Time de Futebol</a
            >
          </h5>
        </div>
      </div>
      <!-- Mais páginas... -->
    </div>
  </div>
</div>

<!--  destaque lateral direita  -->
<div class="card"></div>
<!-- Fim do vídeo -->