{% extends "base.html" %} {% load static i18n %} {% block head_title %} Pagina inicial {% endblock head_title %} 
 

{% block css %} 

{{ block.super }} 

<link href="{% static 'css/multiSelect.css' %}" rel="stylesheet" type="text/css">


<style>
  .truncate-bio-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 400px; /* Defina o tamanho máximo */
  }

  .truncate-text {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Número de linhas antes do truncamento */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }

  .ribbon-box {
    position: relative;
  }

  .ribbon {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    padding: 5px 10px;
    font-size: 12px;
    color: #fff;
    background-color: #007bff;
    border-radius: 3px;
  }
  .post-image {
    height: 240px !important;
    margin: auto;
  }

  .fullscreenImageModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1050;
    justify-content: center;
    align-items: center;
  }
  .fullscreenImage {
    max-width: 80%;
    max-height: 80%;
    border-radius: 8px;
  }
</style>

{% endblock css %} {% block page_content %} {{ block.super }}
<div class="container-fluid">
  <!-- Início do título da página -->
  <div class="row p-1">
    <div class="col-12">
          <div class="d-flex align-items-center">
            <img style="height: 28px;" src="{% static 'images/logo-icon.png' %}">
            <h4 class="page-title font-18 ms-2">Social Feed</h4>
          </div>
      </div>
    </div>
  </div>
  <!-- Fim do título da página -->

  <div class="row px-4">
    <!-- Coluna da esquerda -->
    <div class="col-xl-3 col-lg-6 order-lg-1 order-xl-1">
      {% block left_sidebar %}
        {% include 'partials/left-sidebar.html' with page_name='feed' %}
      {% endblock left_sidebar %}
    </div>
    <!-- Fim da coluna da esquerda -->

    <!-- Coluna central -->
    <div class="col-xl-6 col-lg-12 order-lg-2 order-xl-1">
      <!-- Nova postagem -->
      <div class="card">
        <div class="card-body p-0">
          <div class="tab-content pt-0">
            <div class="tab-pane show active p-3" id="newpost">
              <h4 class="header-title">Nova Postagem</h4>
              <!-- Caixa de comentário -->
              <div class="border rounded">
                <form id="postForm" enctype="multipart/form-data">
                  {% csrf_token %}
                  <textarea
                    rows="4"
                    class="form-control border-0 resize-none"
                    id="postText"
                    name="text"
                    placeholder="Escreva algo..."
                    required></textarea>
                  <div
                    class="p-1 bg-light d-flex justify-content-between align-items-center"
                  >
                    <div>
                      <!-- Botão para adicionar imagens -->
                      <label
                        for="postImages"
                        class="btn btn-sm px-1 font-20 btn-light"
                      >
                        <i class="mdi mdi-image-outline"></i>
                        <input
                          type="file"
                          id="postImages"
                          name="images"
                          class="d-none"
                          accept="image/*"
                          multiple
                        />
                      </label>
                      <!-- Botão para adicionar evento -->
                      <button
                        type="button"
                        class="btn btn-sm p-0 font-20 btn-light"
                        data-bs-toggle="modal"
                        data-bs-target="#eventModal"
                      >
                        <i class="mdi mdi-calendar-plus"></i>
                      </button>
                    </div>
                    <button type="submit" class="btn btn-sm btn-success">
                      <i class="mdi mdi-send-outline me-1"></i>Publicar
                    </button>
                  </div>
                  <!-- Previews -->
                  <div id="imagePreview" class="d-flex flex-wrap"></div>
                  <div id="eventPreview"></div>
                  <!-- Campo oculto para dados do evento -->
                  <input type="hidden" id="eventDetails" name="event" />
                </form>
              </div>
              <!-- Fim da caixa de comentário -->
            </div>
          </div>
          <!-- Fim do conteúdo das abas -->
        </div>
      </div>
      <!-- Fim da nova postagem -->

      <!-- Repita este bloco para cada história -->
      <div class="card bg-transparent" id="caixaHistoria">
        <!-- Caixa de história -->
      </div>
      <!-- Fim da caixa de história -->

      <!-- Loader -->
      <div class="text-center mb-3">
        <a href="javascript:void(0);" id="nextPage" class="text-danger">
          <i class="mdi mdi-spin mdi-loading me-1 font-16"></i> Carregar mais
        </a>
      </div>
      <!-- Fim do loader -->
    </div>
    <!-- Fim da coluna central -->

    <!-- Coluna da direita -->
    <div class="col-xl-3 col-lg-6 order-lg-1 order-xl-2">
      <!-- Notícias -->
      <div class="card">
        <div class="card-body p-2">
        
          <h4 class="header-title mb-1">Em Alta</h4>

          <!-- Notícias em alta -->
          {% for post in posts_in_trend %}
            <div class="d-flex align-items-start mt-1"
            onclick="loadPosts(0, {{ post.id }})"
            >
              <i class="mdi mdi-trending-up me-2 font-18 text-primary"></i>
              <div class="w-100">
                <a class="mt-1 font-14 text-reset" href="javascript:void(0);">
                  <div>
                    <strong>{{ post.user.username }}</strong>
                   
                  </div>
                  <span class="text-muted truncate-text">
                    {{ post.text }}
                  </span>
                  <p style="opacity: 0.5;" class="text-primary m-0 font-11">
                    Publicado {{ post.created_at }}
                </p>
                </a>
              </div>
            </div>
          {% empty %}
              <p>Não há posts em alta no momento.</p>
          {% endfor %}
          
          <!-- Mais notícias... -->
        </div>
      </div>
      <!-- Fim das notícias -->

      <!-- Pessoas que você talvez conheça -->
      <div class="card">
        <div class="card-body p-3">

          <h4 class="header-title mb-2 font-14">Volutarios que você talvez conheça</h4>

          <div class="inbox-widget">
            <!-- Exemplo de pessoa -->
            {% for volunteer in non_followed_volunteers %}
              <div onclick="showUserProfile('{{ volunteer.id }}')" class="inbox-item">
                <div class="inbox-item-img">
                  <img src="{{ volunteer.profile_image.url|default:'images/users/default-profile.png' }}" 
                    class="rounded-circle me-2" 
                    alt="{{ volunteer.username }}" 
                    style="width: 40px; height: 40px;"
                  >
                </div>
                <div>
                  <p class="inbox-item-author m-0">{{ volunteer.username }}</p>
                  <p class="inbox-item-address text-muted mb-1">{{ volunteer.address.city }}, {{ volunteer.address.state }}</p>
                  <span style="opacity: 0.5;" class="text-primary m-0 font-11"><i class="mdi mdi-account-multiple-outline me-1"></i>{{ volunteer.followers.count }} Seguidores</span>
                  <p class="text-muted m-0 truncate-bio-text">{{ volunteer.bio|default:"Sem bio" }}</p>
                </div>
              </div>
            {% empty %}
                <p>Todos os voluntários já estão sendo seguidos.</p>
            {% endfor %}
              <!-- Mais pessoas... -->
            </div>

        </div>
      </div>
      <!-- Fim das pessoas que você talvez conheça -->
    </div>
    <!-- Fim da coluna da direita -->
  </div>
  <!-- Fim da row -->
  <div id="fullscreenImageModal" class="fullscreenImageModal">
    <img
      id="fullscreenImage"
      class="fullscreenImage"
      src=""
      alt="Imagem em tela cheia"
    />
  </div>
</div>


{% include 'partials/event_create_modal.html' %} 
{% include 'partials/edit_profile_modal.html' %} 
{% include 'partials/perfil_modal.html' %}
{% include 'partials/toast_message.html' %}

<!-- Fim do container -->
{% endblock page_content %} {% block javascript %} {{ block.super }}

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<script src="{% static 'js/multiSelect.js' %}"></script>


<script>
  document.addEventListener("DOMContentLoaded", function () {
    const postForm = document.getElementById("postForm");
    const eventForm = document.getElementById("eventForm");
    const imagePreview = document.getElementById("imagePreview");
    const eventPreview = document.getElementById("eventPreview");
    const postImagesInput = document.getElementById("postImages");
    const eventDatetimeInput = document.getElementById("eventDatetime");

    let eventDetails = null;

    // Inicializa o Flatpickr para o campo de data e hora
    const flatpickrInstance = flatpickr("#eventDatetime", {
      enableTime: true,
      dateFormat: "Y-m-d H:i",
      time_24hr: true,
      minDate: "today",
    });

    // Preview e manipulação das imagens
    const imageFiles = new Set();

    postImagesInput.addEventListener("change", function () {
      Array.from(this.files).forEach((file) => {
        if (!imageFiles.has(file)) {
          imageFiles.add(file);

          const reader = new FileReader();
          reader.onload = (e) => {
            const img = document.createElement("img");
            img.src = e.target.result;
            img.className = "img-thumbnail mt-1 mb-1 ms-1";
            img.style.width = "50px";
            img.style.height = "50px";
            img.style.cursor = "pointer";

            // Hover para escurecer a imagem
            img.addEventListener("mouseover", () => {
              img.style.filter = "brightness(0.5)";
            });

            img.addEventListener("mouseout", () => {
              img.style.filter = "brightness(1)";
            });

            // Remover imagem ao clicar
            img.addEventListener("click", () => {
              imageFiles.delete(file);
              img.remove();
            });

            imagePreview.appendChild(img);
          };
          reader.readAsDataURL(file);
        }
      });

      // Limpa o input para permitir novas seleções de arquivos
      this.value = "";
    });

    // Salvar evento no modal
    eventForm.addEventListener("submit", function (e) {
      e.preventDefault();

      const datetimeValue = eventDatetimeInput.value;

      eventDetails = {
        title: document.getElementById("eventTitle").value,
        description: document.getElementById("eventDescription").value,
        datetime: datetimeValue,
      };

      // Atualiza o preview do evento
      eventPreview.innerHTML = `
        <div class="alert alert-info m-2 d-flex justify-content-between align-items-center">
          <span>Evento criado!</span>
          <div>
            <button type="button" class="btn btn-sm btn-primary me-2" id="editEventButton">Editar</button>
            <button type="button" class="btn btn-sm btn-danger" id="deleteEventButton">
              <i class="mdi mdi-trash-can-outline"></i>
            </button>
          </div>
        </div>
      `;

      // Botão de editar evento
      document
        .getElementById("editEventButton")
        .addEventListener("click", () => {
          const modal = new bootstrap.Modal(
            document.getElementById("eventModal")
          );
          modal.show();

          // Preenche os campos do modal com os dados atuais do evento
          document.getElementById("eventTitle").value = eventDetails.title;
          document.getElementById("eventDescription").value =
            eventDetails.description;
          eventDatetimeInput.value = eventDetails.datetime;
        });

      // Botão de excluir evento
      document
        .getElementById("deleteEventButton")
        .addEventListener("click", () => {
          eventDetails = null; // Reseta os dados do evento
          eventPreview.innerHTML = ""; // Remove o preview do evento

          document.getElementById("eventTitle").value = "";
          document.getElementById("eventDescription").value = "";
          eventDatetimeInput.value = ""; // Limpa o valor do campo
          flatpickrInstance.clear(); // Reseta o Flatpickr
        });

      // Fecha o modal
      const modal = bootstrap.Modal.getInstance(
        document.getElementById("eventModal")
      );
      modal.hide();
    });

    // Submissão do post
    postForm.addEventListener("submit", async function (e) {
      e.preventDefault();

      const formData = new FormData();

      // Adiciona texto ao FormData
      const text = document.getElementById("postText").value;
      if (text) {
        formData.append("text", text);
      }

      // Adiciona imagens ao FormData
      imageFiles.forEach((file) => formData.append("images", file));

      // Adiciona evento ao FormData, se existir
      if (eventDetails) {
        formData.append("event", JSON.stringify(eventDetails));
      }

      const csrfToken = postForm.querySelector(
        '[name="csrfmiddlewaretoken"]'
      ).value;

      try {
        const response = await fetch("{% url 'create_post' %}", {
          method: "POST",
          headers: {
            "X-CSRFToken": csrfToken,
          },
          body: formData,
        });

        const result = await response.json();
        if (result.success) {
          window.location.reload();
        } else {
          showToast("danger", result.message);
        }
      } catch (error) {
        console.error("Erro ao criar o post:", error);
      }
    });
  });

  document.addEventListener("DOMContentLoaded", function () {
    const carouselModal = document.getElementById("carouselModal");
    const carouselImages = document.getElementById("carouselImages");

    document.querySelectorAll(".position-relative").forEach((imageWrapper) => {
      imageWrapper.addEventListener("click", () => {
        const postImages = imageWrapper.closest(".row").querySelectorAll("img");
        carouselImages.innerHTML = ""; // Limpa imagens antigas

        postImages.forEach((img) => {
          const slide = document.createElement("div");
          slide.className = "carousel-item";
          slide.innerHTML = `<img src="${img.src}" class="d-block w-100" alt="...">`;
          carouselImages.appendChild(slide);
        });

        carouselImages.firstChild.classList.add("active"); // Ativa o primeiro slide
        const modal = new bootstrap.Modal(carouselModal);
        modal.show();
      });
    });
  });

    const caixaHistoria = document.getElementById("caixaHistoria");
    const loadMoreButton = document.querySelector("#nextPage");
    let nextPage = 1;

    // Função para carregar posts
    async function loadPosts(page, postId=0) {
      try {
        const response = await fetch(`/account/load-posts/${page}/${postId}`);
        const result = await response.json();
        if (response.ok) {
          if (result.html.trim()) {
            if(postId){
              caixaHistoria.innerHTML = ""
            }
            caixaHistoria.insertAdjacentHTML("beforeend", result.html);
          }

          // Esconde o botão caso não haja mais conteúdo
          if (!result.html.trim() || postId) {
              loadMoreButton.style.display = "none";
          }
        } else {
          console.error("Erro ao carregar posts.");
          showToast("danger", result.message);
        }
      } catch (error) {
        console.error("Erro na requisição:", error);
      }
    }

    // Carregamento inicial
    loadPosts(nextPage);

    // Evento para carregar mais posts
    if (loadMoreButton) {
      loadMoreButton.addEventListener("click", (e) => {
        e.preventDefault();
        nextPage++;
        loadPosts(nextPage);
      });
    }

  // Função para abrir o modal de imagem
  async function showImageModal(url) {
    const modal = document.getElementById("fullscreenImageModal");
    const modalImage = document.getElementById("fullscreenImage");

    modalImage.src = url;
    modal.style.display = "flex";

    modal.addEventListener("click", function (event) {
      if (event.target === modal) {
        modal.style.display = "none";
        modalImage.src = "";
      }
    });
  }

  
   async function toggleLike(url) {
    try {
        const response = await fetch(url, {
            method: "POST",
            headers: {
                "X-CSRFToken": document.querySelector("[name=csrfmiddlewaretoken]").value
            }
        });
        const result = await response.json();
        if (response.ok) {
            const likeButton = document.querySelector(`[onclick="toggleLike('${url}')"]`);
            likeButton.innerHTML = `<i class="mdi mdi-heart${result.liked ? ' text-danger' : '-outline'}"></i> <p class="text-danger d-inline">${result.like_count} Likes</p>`;
        }
    } catch (error) {
        console.error("Erro ao curtir:", error);
    }
  }
  
  function replyToComment(username, userId, postId) {
    // Preenche o campo de input com o @username
    const input = document.getElementById(`commentInput${postId}`);
    input.focus();
  
    // Atualiza o valor do campo hidden com o ID do usuário mencionado
    const mentionInput = document.getElementById(`mentionUserId${postId}`);
    mentionInput.value = userId;
  
    // Atualiza o preview abaixo do comentário
    const mentionPreview = document.getElementById(`mentionPreview${postId}`);
    mentionPreview.innerHTML = `<small class="text-muted">Respondendo a <strong>@${username}</strong></small>`;
  }
  
  async function addComment(url, post_id, form) {
    event.preventDefault();
  
    const formData = new FormData(form);
    const csrfToken = form.querySelector('[name="csrfmiddlewaretoken"]').value;
  
    try {
      const response = await fetch(url, {
        method: "POST",
        headers: {
          "X-CSRFToken": csrfToken,
        },
        body: formData,
      });
  
      const result = await response.json();
      if (response.ok && result.success) {
        // Adiciona o novo comentário ao DOM
        const commentBox = document.querySelector(
          `.comment-box`
        );
  
        commentBox.insertAdjacentHTML("beforebegin", result.comment_html);
  
        form.reset(); // Limpa o campo de entrada
        document.getElementById(`mentionPreview${post_id}`).innerHTML = "";
      } else {
        console.error("Erro ao adicionar comentário.");
      }
    } catch (error) {
      console.error("Erro ao enviar comentário:", error);
    }
  }
  async function loadMoreComments(postId, currentPage) {
    const button = document.getElementById(`loadMoreComments${postId}`);
    
    try {
      const response = await fetch(`account/load-comments/${postId}/${currentPage}/`);
      const result = await response.json();
  
      if (result.success) {

        // Adiciona os novos comentários à seção de comentários
        const commentBox = document.querySelector(`#comment-box_${postId}`)
  
        commentBox.insertAdjacentHTML("beforeend", result.html);
  
        // Verifica se há mais páginas
        if (!result.has_next) {
          button.style.display = "none"; // Esconde o botão se não houver mais comentários
        } else {
          button.setAttribute("onclick", `loadMoreComments(${postId}, ${currentPage + 1})`);
        }
      } else {
        console.error("Erro ao carregar mais comentários.");
      }
    } catch (error) {
      console.error("Erro na requisição:", error);
    }
  }
</script>

{% endblock javascript %}
