{% load static i18n %}
<!DOCTYPE html>
<html lang="pt_br">
  <head>
    <meta charset="utf-8" />
    <title>
      {% block head_title %}
      
      {% endblock head_title %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      content="A fully featured admin theme which can be used to build CRM, CMS, etc."
      name="description"
    />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    
    <!-- App favicon -->
    <link rel="icon" href="{% static 'images/logo-icon.png' %}" />

    {% block css %}
    <!-- Project-specific CSS -->
    {% block extra_css %} {% endblock extra_css %} 
    {% block css_wrapper %} 
    {% include "partials/head-css.html" with demo=default %} 
    {% endblock css_wrapper %}

    <!-- Icons -->
    <link
      href="{% static 'css/icons.min.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    {% endblock css %}
  </head>

  <body 
  {% block body_extra %}
  {% if dark_exemple %} 
  class="loading" data-layout='{"mode": "dark", "width": "fluid", "menuPosition": "fixed",
  "sidebar": { "color": "dark", "size": "default", "showuser": false}, "topbar":
  {"color": "dark"}, "showRightSidebarOnPageLoad": true}' 
  {% else %}
  class="loading" data-layout='{"mode": "light", "width": "fluid", "menuPosition":
  "fixed", "sidebar": { "color": "light", "size": "default", "showuser": false},
  "topbar": {"color": "dark"}, "showRightSidebarOnPageLoad": true}' 
  {% endif %} 
  {% endblock body_extra %}>
    {% block page_content %}
    <!-- Main content will be injected here -->
    {% endblock page_content %}
    
  </body>

  <!-- Le javascript -->
  {% block javascript %}
  <script src="{% static 'js/vendor.min.js' %}"></script>

  {% block extra_javascript %} {% endblock extra_javascript %}

  <script src="{% static 'js/bundle.min.js' %}"></script>

  <script>
     function showToast(type, message) {
      const toastContainer = document.querySelector(".toast-container");
      const toastHtml = `
          <div class="toast align-items-center bg-${type} border-0 mb-2" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true">
            <div class="d-flex">
              <div class="toast-body text-white">${message}</div>
              <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
          </div>
        `;
      toastContainer.insertAdjacentHTML("beforeend", toastHtml);

      const toastEl = toastContainer.lastElementChild;
      const toast = new bootstrap.Toast(toastEl);
      toast.show();
    }
    async function participar_evento(url) {
      try {
        const response = await fetch(url);
        const result = await response.json();
        if (response.ok) {
          const btn = document.querySelector(`button[data-url="${url}"]`);
          const div = btn.parentNode;
          btn.remove();
          div.insertAdjacentHTML(
            "beforebegin",
            `
            <button class="btn btn-success" disabled>
              Participando
            </button>
            `
          );
          showToast("success", result.message);
        } else {
          console.error("Erro ao carregar posts.");
          showToast("danger", result.message);
        }
      } catch (error) {
        console.error("Erro na requisição:", error);
      }
    }
  </script>
  {% endblock javascript %} {% block extra_javascript_bottom %} 
  {% endblock extra_javascript_bottom %}
</html>
